@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">E<span class="highlight-blue">ch</span>elon</h1>
    <p>A Complete & Cohesive Inventory Management System.</p>
</div>

<style>
    .highlight-blue {
        color: #4682b4; /* Steel blue color used in other pages */
        font-weight: bold; /* Make the text bold */
    }
</style>
